* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p,
a {
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 16px;
}

.headerContainer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.projectsSection h1 {
  text-align: center;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 100%;
  justify-items: center;
  margin-bottom: 30px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 0 20px;
}

.projectImage {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #999;
}

.projectLink {
  display: inline-block;
  margin: 15px 0;
  padding: 10px 15px;
  background-color: #213547;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.footerContainer {
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  text-align: center;
}

.contactSection {
  margin-top: 10px;
}
.contactLink {
  color: #213547;
  text-decoration: none;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  a,
  p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .projectsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}